.menuSetting {
    width: 1rem;
}

.dropbtn {
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .7rem;
    margin-top: .5rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: right;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 1px 6px #8B8B8B29;    z-index: 1;
    right: 0;
    border-radius:.5rem;
    a {
        font-size: .7rem;
        font-weight: 600;
        img {
            margin-right: .5rem;
            width: .8rem;
        }
    }
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1 ; 
    border-radius:.5rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.delete {
    color: red; 
}